@import "ember-appuniversum";

@import './settings/default';
@import './settings/header';

@import './modules/phone-validation';
@import './modules/autocomplete';
@import './modules/phone-input';
@import './modules/input-search';
@import './modules/complete-form';
@import './modules/au-phone-input';

fieldset {
    &#input-number {
        display: flex;
        input {
            &#in-phone {
                width: 5.5rem;
                padding: 0 .25rem;
                text-align: right;
            }
            &#in-number {
                border-width: 1px;
                border-left-width: 0;
            }
        }
    }
    input {
        &[type=tel] {
            padding-left: 40px;
        }
        &#search {
            max-width: min-content;
        }
    }
    .phone-input {
        input {
            &[type=tel] {
                letter-spacing: .25ch;
                padding-left: 2rem;
            }
        }
        details {
            display: inline;
            width: 1.5rem;
            margin-top: 1.5rem;
            margin-left: 1rem;
            cursor: pointer;
            &[open] {
                position: absolute;
                summary {
                    ::marker {
                        position: absolute;
                        top: -1.5rem;
                        left: -1.5rem;
                    }
                }
                + input {
                    margin-left: 2.5rem;
                }
            }
            label {
                &[for='search'] {
                    position: absolute;
                    left: .75rem;
                    top: 3.25rem;
                    z-index: 234;
                    font-size: 75%;
                    opacity: .75;
                }
            }
            input {
                &#search {
                    position: relative;
                    padding-left: 2.5rem;
                    z-index: 233;
                }
            }
        }
    }
    datalist {
        display: block;
        option {
            cursor: pointer;
        }
    }
}