@import "ember-appuniversum";

@font-face {
    font-family: flanders-sans;
    src: url('./fonts/flanders-sans-regular.woff2') format('woff2');
}

html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    @extend .au-u-font;
}

$au-header-height: 46px;
$au-footer-height: 140px;
$au-main-height: calc(100vh - ($au-header-height + $au-footer-height));

%au-component-fix-mix {
    position: fixed;
    width: 100vw;
    left: 0;
}

.au-c-main-header {    
    @extend %au-component-fix-mix;
    height: $au-header-height; 
    top: 0;   
}

.au-c-main-footer {
    @extend %au-component-fix-mix;
    min-height: $au-footer-height;
    bottom: 0;
}

main {
    margin-top: $au-header-height;
    margin-bottom: $au-footer-height;
    min-height: $au-main-height;
    padding: 1vh 1rem;
}

[role=banner] {
    margin-top: $au-header-height
}

.au-content-header {
    height: 100px;
    @media (min-width: 1200px) {
        height: 154px;
    }
}

.au-c-list-navigation {
    flex-wrap: nowrap;
    .au-c-list-navigation__item {
        flex-basis: auto !important;
    }
}

fieldset {
    position: relative;
    padding: 0;
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    place-content: baseline;
    > select {
        &:not(.results) {
            position: absolute;
            width: 40px;
            height: 20px;
            top: 0;
            left: 0;
            span.prefix {
                position: absolute;
                left: 40px;
            }
        } 
    }
    &#input-number {
        display: flex;
        input {
            &#in-phone {
                width: 5.5rem;
                padding: 0 .25rem;
                text-align: right;
            }
            &#in-number {
                border-width: 1px;
                border-left-width: 0;
            }
        }
    }
    input {
        &[type=tel] {
            padding-left: 40px;
        }
    }
    &.phone-input {
        input {
            &[type=tel] {
                padding: 0;
            }
        }
        details {
            display: inline;
            width: 1.5rem;
            cursor: pointer;
            &[open] {
                position: absolute;
                summary {
                    ::marker {
                        position: absolute;
                        top: -2.5rem;
                        left: -1.5rem;
                    }
                }
                + input {
                    margin-left: 1.5rem;
                }
            }
            label {
                &[for='search'] {
                    position: absolute;
                    left: .25rem;
                    top: 2.75rem;
                    z-index: 234;
                    font-size: 75%;
                    opacity: .75;
                }
            }
            input {
                &#search {
                    position: relative;
                    padding-left: 1.5rem;
                    z-index: 233;
                }
            }
        }
    }
    datalist {
        display: block;
        option {
            cursor: pointer;
        }
    }
}