<AuMainFooter>
    <AuHeading @level="3" @skin="4">
    Gelinkt-notuleren.lblod.info is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
        <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a></p>
        
        <ul class="au-c-list-horizontal au-u-flex--between">
            <li class="au-c-list-horizontal__item au-u-3-5">
                <ul class="au-c-list-horizontal au-u-flex--start">
                    <li class="au-c-list-horizontal__item">
                        <AuLink @route="" @skin="secondary">Disclaimer</AuLink>
                    </li>
                    <li class="au-c-list-horizontal__item">
                        <AuLink @route="" @skin="secondary">Cookieverklaring</AuLink>
                    </li>
                </ul>
            </li>
            <li class="au-c-list-horizontal__item au-u-2-5">
                <ul class="au-c-list-horizontal au-u-flex--end">
                    {{#each this.socialItems as |item|}}
                        <li class="au-c-list-horizontal__item">
                            <a title={{item.title}} href={{item.url}} 
                               target="_blank" rel="nofollow noopener noreferrer">
                                <img src={{item.icon}} alt={{item.title}} class="social-icon" />
                            </a>
                        </li>
                    {{/each}}   
                </ul>
            </li>
        </ul>
    </AuContent>
</AuMainFooter>