<AuMainHeader
    @brandLink='/'
    @appTitle='AppUniversum Phone Input Variations'
    @homeRoute={{this.homeRoute}}
    @contactRoute={{this.contactRoute}}
>
  <ul class="au-c-list-navigation">
    <li class="au-c-list-navigation__item">
      <AuNavigationLink @route='about'>
        About
      </AuNavigationLink>
    </li>
  </ul>

</AuMainHeader>