.phone-input {
    .au-c-fieldset__content {
        flex-direction: row;
        input {
            &[type=tel] {
                letter-spacing: .25ch;
                padding-left: 2rem;
            }
        }
        details {
            display: inline;
            width: .5rem;
            margin-top: 1.5rem;
            margin-left: 1rem;
            cursor: pointer;
            &[open] {
                position: absolute;
                summary {
                    ::marker {
                        position: absolute;
                        top: -1.5rem;
                        left: -1.5rem;
                    }
                }
                + input {
                    margin-left: 3rem;
                }
            }
            label {
                &[for='search'] {
                    position: absolute;
                    left: .75rem;
                    top: 3.25rem;
                    z-index: 234;
                    font-size: 75%;
                    opacity: .75;
                }
            }
            input {
                &#search {
                    position: relative;
                    padding-left: 2.5rem;
                    z-index: 233;
                }
            }
        }
    }
}

