.au-content-header {
    height: 100px;
    @media (min-width: 1200px) {
        height: 154px;
    }
}

.au-c-list-navigation {
    flex-wrap: nowrap;
    .au-c-list-navigation__item {
        flex-basis: auto !important;
    }
}
