{{page-title "About"}}

<h1>Resources used for build, and improvement</h1>

<dl class="about-resources au-u-flex au-u-flex--wrap au-u-flex--row">
    <dt>Flag Icons:</dt>
    <dd>
        <ul>
            <li>
                <strong>URL: </strong>
                <a href="https://www.quackit.com/character_sets/emoji/emoji_v3.0/unicode_emoji_v3.0_characters_flags.cfm">Quackit.com</a>
            </li>
            <li>
                <strong>Implementation: </strong> 
                <em>Just copy the image as text content from the browser, and paste it into your code editor</em>
            </li>
        </ul>
    </dd>
    <dt>Country Calling Codes:</dt>
    <dd>
        <strong>URL: </strong>
        <a href="https://en.wikipedia.org/wiki/List_of_country_calling_codes#Alphabetical_listing_by_country_or_region">Wikipedia</a>
    </dd>
    <dt>Phone Number Patterns:</dt>
    <dd>
        <strong>URL: </strong>
        <a href="https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers">Wikipedia</a>
    </dd>
</dl>