{{page-title "PhoneTest"}}
<AuApp>
    <Header />

    <AuMainContainer as |m|>
        <m.sidebar>
            <div class="au-c-sidebar">
                <Sidebar />
            </div>
        </m.sidebar>

        <m.content @scroll={{true}}>
            <div class="au-d-component-block au-d-component-block--overflow">
                {{outlet}}
            </div>
        </m.content>

    </AuMainContainer>

    <Footer />
</AuApp>
