{{page-title "Index"}}

<h1>Phone Input Test App</h1>
<br>
<h2>Description</h2>
<br>
<blockquote>
    <p>The app contains 5 functions, provided on 5 different pages:</p>

    <ul style="list-style:disc">
        <li><em>AuPhoneInput</em>, which copies an AU Component, including Search for Countries, placeholder, formatting, and validation</li>
        <li><em>Phone Input with Format Validation</em>, which uses a script to control the format of the input text</li>
        <li><em>Phone Input</em>, which is an input with the option to select countries from a dropdown (select+options)</li>
        <li><em>Search Input with Autocomplete</em>, which makes a query on existent github repos</li>
        <li><em>Phone Input with Search</em>, which is an input of type `tel`, with options to search for a country, and dinamically update the prefix</li>
    </ul>
</blockquote>
<br>
<h2>Tech Stack</h2>
<br>
<ul>
    <li><strong><em>node.js</em></strong> v14.17.0.</li>
    <li><strong><em>ember-cli</em></strong> v4.4.0.</li>
    <li><strong><em>appuniversum</em></strong> v1.2.1.</li>
    <li><strong><em>ember-cli-sass</em></strong> v11.0.1.</li>
</ul>
<br>
<h2>Deployment</h2>
<br>
<ul>
    <li>The app is deployed, in development mode, on <a href="https://iurianu-ember-phone-input.netlify.app/">Netlify</a>.</li>
    <li>The code is public, and can be freely checked on <a href="https://github.com/iurianu/ember-phone-input">Github</a></li>
</ul>
<br>

{{outlet}}